{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Complaint Submitted{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <div class='alert alert-success' role='alert'>
                Your complaint is now on its way to the relevant statutory bodies.
            </div>
            <form method='POST'>
                <a href='/personal/report' class="btn btn-lg btn-success">Report another issue</a>
            </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>
{% endblock %}