{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block tab-title %}Home{% endblock %}
{% block page-title %}Home{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <form method='POST'>
                {% csrf_token %} {{ post_code | as_bootstrap }}
                <button type="submit" class="btn btn-lg btn-success">Get Started</button>
            </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>
{% endblock %}